{loop="data"}
  <div class="game">
    <div class="datetime">{$value->Datum|substr:8,2}-{$value->Datum|substr:5,2}-{$value->Datum|substr:0,4} om {$value->Tijd|substr:0,2}:{$value->Tijd|substr:2,2}</div>
    <div class="match">
      {if="$logo"}<span class="logo thuis">{if="$value->ThuisLogo"}<img alt="Clublogo van {$value->ThuisClub}" src="{$value->ThuisLogo}" />{/if}</span>{/if}
      <span class="team thuis">{$value->ThuisClub}</span>
      <span class="sep"> - </span>
      {if="$logo"}<span class="logo uit">{if="$value->UitLogo"}<img alt="Clublogo van {$value->UitClub}" src="{$value->UitLogo}" />{/if}</span>{/if}
      <span class="team uit">{$value->UitClub}</span>
    </div>
    <div class="score">0 - 0</div>
    {if="$value->Bijzonderheden"}<div class="extra">{$value->Bijzonderheden}</div>{/if}
  </div>
{/loop}
