<table class="games thuis">
{if="isset($thuis) || isset($uit)"}
  <tr>
    <th colspan="{if="$logo"}9{else}7{/if}">Thuis</th>
  </tr>
  {loop="thuis"}
    <tr>
      <td>{$value->Datum|substr:8,2}-{$value->Datum|substr:5,2}-{$value->Datum|substr:0,4}</td>
      <td>{$value->Tijd|substr:0,2}:{$value->Tijd|substr:2,2}</td>
      {if="$logo"}<td>{if="$value->ThuisLogo"}<img alt="Clublogo van {$value->ThuisClub}" src="{$value->ThuisLogo}" />{/if}</td>{/if}
      <td>{$value->ThuisClub}</td>
      {if="$logo"}<td>{if="$value->UitLogo"}<img alt="Clublogo van {$value->UitClub}" src="{$value->UitLogo}" />{/if}</td>{/if}
      <td>{$value->UitClub}</td>
      <td>{if="$value->PuntenTeam1"}{$value->PuntenTeam1} - {$value->PuntenTeam2}{/if}</td>
      <td>{$value->Zaalveld}</td>
      <td>{if="$value->Bijzonderheden"}{$value->Bijzonderheden}{/if}</td>
    </tr>
  {else}
    <tr>
      <td colspan="{if="$logo"}9{else}7{/if}">Momenteel is er geen thuis-wedstrijdenoverzicht beschikbaar.</td>
    </tr>
  {/loop}
</table>
<table class="games uit">
  <tr>
    <th colspan="{if="$logo"}9{else}7{/if}">Uit</th>
  </tr>
  {loop="uit"}
    <tr>
      <td>{$value->Datum|substr:8,2}-{$value->Datum|substr:5,2}-{$value->Datum|substr:0,4}</td>
      <td>{$value->Tijd|substr:0,2}:{$value->Tijd|substr:2,2}</td>
      {if="$logo"}<td>{if="$value->ThuisLogo"}<img alt="Clublogo van {$value->ThuisClub}" src="{$value->ThuisLogo}" />{/if}</td>{/if}
      <td>{$value->ThuisClub}</td>
      {if="$logo"}<td>{if="$value->UitLogo"}<img alt="Clublogo van {$value->UitClub}" src="{$value->UitLogo}" />{/if}</td>{/if}
      <td>{$value->UitClub}</td>
      <td>{if="$value->PuntenTeam1"}{$value->PuntenTeam1} - {$value->PuntenTeam2}{/if}</td>
      <td>{$value->Zaalveld}</td>
      <td>{if="$value->Bijzonderheden"}{$value->Bijzonderheden}{/if}</td>
    </tr>
  {else}
    <tr>
      <td colspan="{if="$logo"}9{else}7{/if}">Momenteel is er geen uit-wedstrijdenoverzicht beschikbaar.</td>
    </tr>
  {/loop}
{else}
  {loop="data"}
    <tr>
      <td>{$value->Datum|substr:8,2}-{$value->Datum|substr:5,2}-{$value->Datum|substr:0,4}</td>
      <td>{$value->Tijd|substr:0,2}:{$value->Tijd|substr:2,2}</td>
      {if="$logo"}<td>{if="$value->ThuisLogo"}<img alt="Clublogo van {$value->ThuisClub}" src="{$value->ThuisLogo}" />{/if}</td>{/if}
      <td>{$value->ThuisClub}</td>
      {if="$logo"}<td>{if="$value->UitLogo"}<img alt="Clublogo van {$value->UitClub}" src="{$value->UitLogo}" />{/if}</td>{/if}
      <td>{$value->UitClub}</td>
      <td>{if="$value->PuntenTeam1"}{$value->PuntenTeam1} - {$value->PuntenTeam2}{/if}</td>
      <td>{$value->Zaalveld}</td>
      <td>{if="$value->Bijzonderheden"}{$value->Bijzonderheden}{/if}</td>
    </tr>
  {else}
    <tr>
      <td>Momenteel is er geen wedstrijdenoverzicht beschikbaar.</td>
    </tr>
  {/loop}
{/if}
</table>
